.speech{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    color: #000;
}

.direction{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    color: #000;
    background-color: lightblue;
}

.direction:hover{
    color: rgb(210, 17, 17);
    background-color: lemonchiffon;
    font-weight: bolder;
}

.DrStockmann{
    color:darkviolet;
    font-weight: bold;
}

.MrsStockmann{
    color:firebrick;
    font-weight: bold;
}

.Petra{
    color:green;
    font-weight: bold;
}

.Horster{
    color:dodgerblue;
    font-weight: bold;
}

.table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
}

.table th, .table td{
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color:#000;
    color: #fff;
}

.table tbody tr:nth-child(even) {
    background-color:lightgrey;
}